.row {
    background-color: white;
    margin: 0 auto;
    margin-bottom: 7%;
}

.col-6 {
    margin-top: 4%;
}

img {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

#cert {
    display: block;
    margin: 0 auto;
}

#cert-paris {
    margin: 3% auto;
    border-radius: 10%;
    max-width: 600px;
    height: auto;
}