<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <img src="../../../assets/logo.png" height="60px" [routerLink]="['/home-rus']">
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home-rus']">Любовь М</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/item-gallery-rus']">Галерея</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about-rus']">О нас</a>
            </li>
        </ul>
    </div>
</nav>