<div class=container>
    <div class="gallery" id="gallery">

        <div class="mb-3 pics animation all 2" style="margin-top: 5%;">
            <img class="img-fluid" src="../../../assets/10-cheesecake.jpg" alt="Cheesecake" [routerLink]="['/item-details-rus/10-cheesecake']">
        </div>

        <div class="mb-3 pics animation all 1" style="margin-top: 5%;">
            <img class="img-fluid" src="../../../assets/18-cake.jpg" alt="Birthday cake - 18 y.o." [routerLink]="['/item-details-rus/18-cake']">
        </div>

        <div class=" mb-3 pics animation all 1 " style="margin-top: 5%; ">
            <img class="img-fluid " src="../../../assets/47-cake.jpg " alt="Birthday cake - 47 y.o." [routerLink]="['/item-details-rus/47-cake']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/49-cake.jpg " alt="Birthday cake - 49 y.o." [routerLink]="['/item-details-rus/49-cake']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/chocolate-cake.jpg " alt="Chocolate cake " [routerLink]="['/item-details-rus/chocolate-cake']">
        </div>

        <div class="mb-3 pics animation all 1 ">
            <img class="img-fluid " src="../../../assets/chocolate-cookies.jpg " alt="Chocolate cookies" [routerLink]="['/item-details-rus/chocolate-cookies']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/cinnabon.jpg " alt="Cinnamon buns" [routerLink]="['/item-details-rus/cinnabon']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/cupcakes.jpg " alt="Cupcakes" [routerLink]="['/item-details-rus/cupcakes']">
        </div>

        <div class="mb-3 pics animation all 1 ">
            <img class="img-fluid " src="../../../assets/easter.jpg " alt="Easter Baking" [routerLink]="['/item-details-rus/easter']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/ginger-cookies.jpg " alt="Ginger Cookies" [routerLink]="['/item-details-rus/ginger-cookies']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/madeleines.jpg " alt="Madeleines" [routerLink]="['/item-details-rus/madeleines']">
        </div>

        <div class="mb-3 pics animation all 1 ">
            <img class="img-fluid " src="../../../assets/mom-cake.jpg " alt="Cake for mom" [routerLink]="['/item-details-rus/mom-cake']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/rose-pie.jpg " alt="Pie with rose decoration" [routerLink]="['/item-details-rus/rose-pie']">
        </div>

        <div class="mb-3 pics animation all 2 ">
            <img class="img-fluid " src="../../../assets/welcome-cake.jpg " alt=" 'Welcome' cake " [routerLink]="['/item-details-rus/welcome-cake']">
        </div>
    </div>
</div>