<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('../../../assets/rose-pie.jpg'); background-size: auto;"></div>
            <div class="carousel-item" style="background-image: url('../../../assets/18-cake.jpg')"></div>
            <div class="carousel-item" style="background-image: url('../../../assets/49-cake.jpg'); background-size: auto;"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Назад</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Вперед</span>
        </a>
    </div>
</header>

<!-- О нас -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4 text-center">Пекарня Любовь М</h1>
        <p class="lead">Вкуснейшие пирожные, аппетитные торты, ароматное печенье и многое другое!</p>
        <p class="lead">В пекарне Любовь М, каждый найдет себе угощение по вкусу</p>
        <hr>
        <p class="lead">Хотите узнать больше? Посетите нашу <a [routerLink]="['/item-gallery-rus']">галерею! </a></p>
    </div>
</section>