<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('../../../assets/rose-pie.jpg'); background-size: auto;"></div>
            <div class="carousel-item" style="background-image: url('../../../assets/18-cake.jpg')"></div>
            <div class="carousel-item" style="background-image: url('../../../assets/49-cake.jpg'); background-size: auto;"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- About us -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4 text-center">Liubov M Bakery</h1>
        <p class="lead">Delicious pastries, mouthwatering cakes, comfort-food cookies and so much more!</p>
        <p class="lead">At Liubov M Bakery, everyone is certain to find a treat for their sweet tooth</p>
        <hr>
        <p class="lead">Interested? Check out our <a [routerLink]="['/item-gallery']">gallery! </a></p>
    </div>
</section>